body{
    margin: 0;
    padding: 0;
    background-color: rgb(224, 224, 224);
    width: 100%;
    height: 100%;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    box-sizing: border-box;
}

.links li {
    display: inline-flex;
    text-decoration: none;
    font-size: 12px;
    list-style: none;
    color: #312d2d;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 10px;
}

a .button{
    border: 2px solid transparent;
    border-radius: 50px;
    width: 100px;
    height: 30px;
    background-color: #ffffff;
    border-color: #ffffff;
    font-size: 9px;
    line-height: 22px;
    letter-spacing: 3px;
    font-weight: 600; 
}
a .button:hover{
    transition-duration: 3s;
    transition-timing-function: ease-out;
    touch-action: manipulation;
    cursor: pointer;
    background-color: gray;
}
.main{
   width: 300px;
   height: 300px;
   position: absolute;
   margin-top: 80px;
   margin-left: 700px;
}
.main .header{
    line-height: 40px;
    font-weight: 700;
    font-size: 36px;
    padding-bottom: 0px;
}
.main .paragr{
    line-height: 12px;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: left;
    opacity: 1;
    padding-top: 0px;
}
.main .button2{
    background-color: rgb(255, 33, 79);
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 40px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 3px;
    box-sizing: border-box;
    width: 150px;
    border-color: rgb(255, 33, 79);
}
.main .button2:hover{
    background-color: black;
    border-color: black;
}
/* section{
    min-height: 10vh;
    width: 100px;
    position: relative;
} */
.monkey{
    position: absolute;
    top: -20vh;
    left: -30%;
    animation-name: monkey;
    animation-duration: 2s;
}
@keyframes monkey {
    from{
        top: 0%;
        left: 30%;
        transform: rotate(-70deg);
    }
    to{
        top: -20vh;
        left: -30%;
    }
}


